<div class="row">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-1 black-light" src="/images/forWelcome/nodejs.jpg" alt="">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-1 black-light" src="/images/forWelcome/angular-features.png" alt="">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-1 black-light" src="/images/forWelcome/express.png" alt="">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-1 black-light" src="/images/forWelcome/mongodb.png" alt="">
</div>
<div class="jumbotron welcome-message">
  <h1>
    Welcome to <u>AdaCode.io</u> v2.0
  </h1>
  <p>To Unlock Your Potential With Coach Ada and Incredible Technology!</p>
  <a href="/courses/all">
    <button type="button" class="btn btn-success">
      <i class="fa fa-angellist fa-lg"></i>
      คอร์สใหม่ๆ
    </button>
  </a>

</div>
<div class="row">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-2 black-light" src="/images/forWelcome/row2/ada1.jpg" alt="">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-2 black-light" src="/images/forWelcome/row2/ada6.jpg" alt="">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-2 black-light" src="/images/forWelcome/row2/ada7.jpg" alt="">
    <img class="col-lg-3 col-md-3 col-sm-3 col-xs-3 welcomeBox-row-2 black-light" src="/images/forWelcome/row2/ada5.jpg" alt="">
</div>


<!-- Want to learn these tech -->
  <div class="learn-tech row">
    <h1 class="text-center">
      Want to learn
      <u>
        <strong>these tech?</strong>
      </u>
    </h1>
    <div class="text-center">
      <small>Choose one and tap you like the most</small>
    </div>
    <br><br>
      <div class="col-lg-3 col-sm-3 col-xs-3 box-tech" data-toggle="modal" data-target="#javascript">
          <div class="head-tech my-yellow">
            <h3 class="text-center">JavaScript 6</h3>
          </div>
          <div class="img-tech">
            <img src="/images/forWelcome/tech/javascript.png" alt="" class="img-circle img-responsive">
          </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-3 box-tech" data-toggle="modal" data-target="#nodejs">
          <div class="head-tech my-green">
            <h3 class="text-center">Node.js</h3>
          </div>
          <div class="img-tech">
            <img src="/images/forWelcome/tech/nodejs2.png" alt="" class="img-circle img-responsive">
          </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-3 box-tech" data-toggle="modal" data-target="#angularjs">
          <div class="head-tech my-red">
            <h3 class="text-center">AngularJS</h3>
          </div>
          <div class="img-tech">
            <img src="/images/forWelcome/tech/angularjs-logo.png" alt="" class="img-circle img-responsive">
          </div>
      </div>

      <div class="col-lg-3 col-sm-3 col-xs-3 box-tech" data-toggle="modal" data-target="#bootstrap">
          <div class="head-tech my-purple">
            <h3 class="text-center">Bootstrap 3</h3>
          </div>
          <div class="img-tech">
            <img src="/images/forWelcome/tech/bootstrap.png" alt="" class="img-circle img-responsive">
          </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-3 box-tech" data-toggle="modal" data-target="#ionic">
          <div class="head-tech my-blue">
            <h3 class="text-center">Ionic Framework</h3>
          </div>
          <div class="img-tech">
            <img src="/images/forWelcome/tech/ionic.jpg" alt="" class="img-circle img-responsive">
          </div>
      </div>
      <div class="col-lg-3 col-sm-3 col-xs-3 box-tech" data-toggle="modal" data-target="#mongodb">
          <div class="head-tech my-brown">
            <h3 class="text-center">MongoDB</h3>
          </div>
          <div class="img-tech">
            <img src="/images/forWelcome/tech/mongodb.png" alt="" class="img-circle img-responsive">
          </div>
      </div>
  </div>


  <!-- MODAL SECTION -->
  <!-- JAVASCRIPT MODAL -->
  <div id="javascript" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content cuz-modal">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title"><strong>JavaScript 6</strong></h2>
      </div>
      <div class="modal-body">
        <img src="/images/forWelcome/tech/javascript.png" alt="" class="img-circle img-responsive col-lg-3 col-xs-5">
        <p>ภาษา JavaScript ในเวอร์ชั่นที่ 6 นี้ได้เพิ่มความสามารถเข้ามามากมายทำให้การเขียนง่ายและมีประสิทธิภาพมากยิ่งขึ้นโดยเฉพาะการเขียนแบบ Functional Programming</p>
        <br>
        <h3><strong>JS6 ภาษาเดียว!</strong></h3>
        <p>
          <ul>
            <li>สร้าง <b class="my-green">Website</b> ได้</li>
            <li>นำไปเขียน <b class="my-green">Mobile app</b> ได้</li>
            <li>เขียน <b class="my-green">Game</b> ก็ยังได้</li>
            <li>หรือ จะนำไปเขียน <b class="my-green">Desktop app</b> ก็ทำได้</li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <a href="/courses/all" ng-click="close()"><button type="button" class="btn btn-danger">ดูคอร์ส</button></a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- NODEJS MODAL -->
<div id="nodejs" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content cuz-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title"><strong>Node.js</strong></h2>
    </div>
    <div class="modal-body">
      <img src="/images/forWelcome/tech/nodejs2.png" alt="" class="img-circle img-responsive col-lg-3 col-xs-5">
      <p>Node.js ไม่ใช่ภาษา!! แต่เป็น cross-platform runtime environment หมายความว่า node.js สามารถรัน javascript aplication บน OS ต่างๆได้</p>
      <br>
      <h3><strong>Node.js ทำอะไรได้บ้าง</strong></h3>
      <p>
        <ul>
          <li>สร้าง <b class="my-green">Server</b> ขึ้นมาได้เลย</li>
          <li>นำไปเขียน <b class="my-green">Realtime app</b> เช่น Chatapp, Dashboard, Online game</li>
          <li>เขียน <b class="my-green">API</b> ก็ยังได้</li>
          <li>ที่สำคัญสุดๆ เขียน <b class="my-green">Website</b> ได้ไวมากๆ</li>
        </ul>
      </p>
    </div>
    <div class="modal-footer">
      <a href="/courses/all" ng-click="close()"><button type="button" class="btn btn-danger">ดูคอร์ส</button></a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ANGULARJS MODAL -->
<div id="angularjs" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content cuz-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title"><strong>AngularJS</strong></h2>
    </div>
    <div class="modal-body">
      <img src="/images/forWelcome/tech/angularjs-logo.png" alt="" class="img-circle img-responsive col-lg-3 col-xs-5">
      <p>สุดยอด Front-End framework จาก Google ที่จะช่วยทำให้คุณพัฒนาเว็บและแอพได้ล้ำสุดๆ!!</p><br><br>
      <h3><strong>AngularJS ทำอะไรได้บ้าง</strong></h3>
      <p>
        <ul>
          <li>สร้าง <b class="my-green">Single Page App</b> ได้ง่ายมากๆ</li>
          <li>ลืมการ <b class="my-green">Refrash</b> ไปได้เลยเพราะ AngularJS async รัวๆเลย</li>
          <li>ทำงานร่วมกับ <b class="my-green">API</b> นี่จุดเด่นเลย</li>
          <li>ที่สำคัญเขียน <b class="my-green">AngularJS</b> มันสนุกมากๆเลย</li>
        </ul>
      </p>
    </div>
    <div class="modal-footer">
      <a href="/courses/all" ng-click="close()"><button type="button" class="btn btn-danger">ดูคอร์ส</button></a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- BOOTSTRAP MODAL -->
<div id="bootstrap" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content cuz-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title"><strong>Bootstrap 3</strong></h2>
    </div>
    <div class="modal-body">
      <img src="/images/forWelcome/tech/bootstrap.png" alt="" class="img-circle img-responsive col-lg-3 col-xs-5">
      <p>HTML, CSS, และ JS Framework ที่ฮิตที่สุดในขณะนี้สำหรับการทำ Responsive website ช่วยให้เหล่านักพัฒนาทำงานกันได้ง่ายขึ้นมากๆ</p><br><br>
      <h3><strong>ทำไมต้อง Bootstrap 3</strong></h3>
      <p>
        <ul>
          <li>เพราะเราต้องการทำ <b class="my-green">Responsive website</b> แบบสบายๆ</li>
          <li>เพราะเราต้องการเขียนให้รองรับ <b class="my-green">Mobile devices</b></li>
          <li>เพราะเราต้องการ <b class="my-green">Productivity</b> ระดับสูง!</li>
          <li>และเพราะว่า Bootstrap <b class="my-green">Save Time</b> ได้มากมาย</li>
        </ul>
      </p>
    </div>
    <div class="modal-footer">
      <a href="/courses/all" ng-click="close()"><button type="button" class="btn btn-danger">ดูคอร์ส</button></a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- IONIC MODAL -->
<div id="ionic" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content cuz-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title"><strong>Ionic Framework</strong></h2>
    </div>
    <div class="modal-body">
      <img src="/images/forWelcome/tech/ionic.jpg" alt="" class="img-circle img-responsive col-lg-3 col-xs-5">
      <p>สร้าง Mobile application แบบรวดเร็วทันใจด้วย web technology ที่คุณชื่นชอบ ทั้ง iOS และ Android</p><br><br>
      <h3><strong>Hybrid App ดียังไง</strong></h3>
      <p>
        <ul>
          <li><b class="my-green">Code เดียว</b> ใช้ได้ทั้ง iOS และ Android</li>
          <li>ประหยัด <b class="my-green">งบ และ เวลา</b> ที่ใช้ในการพัฒนา</li>
          <li>Lerning curve <b class="my-green">ต่ำมาก</b> เพราะไม่ต้องเรียนรู้ภาษาใหม่</li>
          <li>และแน่นอนว่า Ionic <b class="my-green">ฟรี </b>ไม่มีค่าใช้จ่าย</li>
        </ul>
      </p>
    </div>
    <div class="modal-footer">
      <a href="/courses/all" ng-click="close()"><button type="button" class="btn btn-danger">ดูคอร์ส</button></a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- MONGODB MODAL -->
<div id="mongodb" class="modal fade">
<div class="modal-dialog">
  <div class="modal-content cuz-modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2 class="modal-title"><strong>MongoDB</strong></h2>
    </div>
    <div class="modal-body">
      <img src="/images/forWelcome/tech/mongodb.png" alt="" class="img-circle img-responsive col-lg-3 col-xs-5">
      <p>NoSQL ยอดฮิตที่ใช้งานง่าย ประสิทธิภาพสูง ขยายฐานข้อมูลได้ ที่สำคัญเร็วมาก</p><br><br>
      <h3><strong>ทำไมต้อง NoSQL</strong></h3>
      <p>
        <ul>
          <li>แน่นอนว่าเรื่อง <b class="my-green">ค่าใช้จ่ายในการ scale </b> ประหยัดไปมาก</li>
          <li>NoSQL จะทำให้คุณ<b class="my-green">สนุกมากกว่าเก่า</b></li>
          <li>ถ้าคุณชอบ oop <b class="my-green">NoSQL </b> เหมาะกับคุณมาก</li>
          <li>ประสิทธิภาพ <b class="my-green">ที่จะไม่ทำให้คุณผิดหวัง </b></li>
        </ul>
      </p>
    </div>
    <div class="modal-footer">
      <a href="/courses/all" ng-click="close()"><button type="button" class="btn btn-danger">ดูคอร์ส</button></a>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="speaker row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-black">
      <div class="row">
        <br>
        <h1 class="text-center">
            <span class="my-font-yellow">
              One man who stand for you!!
              <br>
              <small>Everything you would like to know about technology</small>
            </span>
          </h1>
        <br>
      </div>
  </div>

  <div class="col-lg-4"></div>
  <div class="col-lg-4 col-sm-4 col-xs-12  profile">
      <img class="img-circle profile-img" src="/images/forWelcome/ada.jpg" alt="">
      <h2>
        <strong>
          <u class="my-font-yellow">
              Ada Kaminkure
          </u>
        </strong>
      </h2>
      <br>
  </div>
  <div class="col-lg-4"></div>


  <div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="row p-black">
        <br>
        <p class="text-center">
          <i class="fa fa-quote-left fa-2x"></i>
          ชายหนุ่มผู้หลงใหลใน <span class="my-font-green">การศึกษาและการสร้างสรรค์</span> ผลงานผ่านเทคโนโลยี<br>
          เคยร่วมงานกับบริษัทชั้นนำอย่าง Microsoft Singapore และ Startups ต่างๆ <br>
          ก่อนจะผันตัว <span class="my-font-green">อุทิศชีวิตเพื่อการศึกษา</span> และ <span class="my-font-green">พัฒนาวงการโปรแกรมมิ่งเมืองไทย</span>
          <i class="fa fa-quote-right fa-lg"></i>
        </p>
        <br>
    </div>
  </div>
</div>

<div class="row partnership">
  <div class="partnership-header text-center">
    <h1 class="my-font-strong-green">
        <strong>
          <i class="fa fa-users fa-lg"></i> My friends
        </strong>
      <br>
      <small>
        <span class="my-font-pink"><i>If you love me, you would <u>love all of them</u></i></span>
      </small>
    </h1>
  </div>

    <div class="col-lg-4 col-xs-4 friend-item text-center" ng-repeat="friend in friends">
      <a href="{{friend.website}}">
        <img class="img-rounded row-black" src="/images/forWelcome/myFriends/{{friend.img}}" alt="">
        <h3 class="row-black hidden-xs">
          <i>{{friend.name}}</i>
        </h3>
      </a>
    </div>

</div>
