<div class="row">
  <div class="col-lg-3"></div>
  <div class="form-register col-lg-6 col-requireds-12">
    <h1 class="terequiredt-center">
      <span class="my-font-yellow">Register</span>
      and
      <span class="my-font-green">Enjoy</span>
      <strong>The Class</strong>
      </h1>
    <br>
    <form name="registerForm" ng-submit="formProc(registerForm.$valid)" novalidate>
      <div class="form-group">
        <label for="courses">
          <i class="fa fa-hand-spock-o fa-lg"></i>
          Choose your awesome course
        </label>
        <select name="courses" id="courses" class="form-control" ng-model="formData.course" required>
          <option  ng-repeat="course in courses" value="{{course.code}}-{{course.title}}">
            <div ng-model="formData.course_code">{{course.code}}-</div>{{course.title}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="name">
          <i class="fa fa-user fa-lg"></i>
          Fullname
        </label>
        <input type="terequiredt" class="form-control" id="name" name="name" ng-model="formData.name" placeholder="Steve Jobs" required>
      </div>

      <div class="form-group">
        <label for="email">
          <i class="fa fa-envelope-o fa-lg"></i>
          E-mail
        </label>
        <input type="email" class="form-control" id="email" name="email" ng-model="formData.email" placeholder="example@adacode.io" required>
      </div>

      <div class="form-group">
        <label for="gender">
          <i class="fa fa-mars fa-lg"></i>
          Gender
          <i class="fa fa-venus fa-lg"></i>
        </label>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="male" value="male" checked ng-model="formData.gender">
            <i class="fa fa-male fa-lg"></i> Male
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="female" value="female" ng-model="formData.gender">
            <i class="fa fa-female fa-lg"></i> Female
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="transgender" value="transgender" ng-model="formData.gender">
            <i class="fa fa-transgender-alt fa-lg"></i> Transgender
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="age">
          <i class="fa fa-hourglass-start fa-lg"></i>
          Age
        </label>
        <input type="number" class="form-control" id="age" name="age" min="1" marequired="108" ng-model="formData.age" required>
      </div>

      <div class="form-group">
        <label for="mobile">
          <i class="fa fa-mobile fa-lg"></i>
          Mobile Number
        </label>
        <input type="terequiredt" class="form-control" id="mobile" name="mobile" placeholder="0981010101" ng-model="formData.mobile" required>
      </div>

      <div class="form-group">
        <label for="redeem">
          <i class="fa fa-puzzle-piece fa-lg"></i>
          Redeem Code
        </label>
        <input type="terequiredt" class="form-control" id="redeem" name="redeem" placeholder="คุณจะได้รับหลังจากชำระเงินแล้ว" ng-model="formData.redeem" required>
      </div>
      <br>
      <label for="">
        Where did you hear about AdaCode.io?
      </label>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="survay" value="fanpage" ng-model="formData.survay.fanpage">
          Facebook fanpage
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="survay" value="comscicafe" ng-model="formData.survay.comscicafe">
          ComSci Cafe poster
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="survay" value="website" ng-model="formData.survay.website">
          AdaCode.io Website
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="group" ng-model="formData.survay.group.bool">
          <input type="terequiredt" class="form-control" name="group" placeholder="FB group" ng-model="formData.survay.group.value">
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="other" ng-model="formData.survay.other.bool">
          <input type="terequiredt" class="form-control" name="other" placeholder="Other" ng-model="formData.survay.other.value">
        </label>
      </div>
      <br>
      <div class="col-lg-4"></div>
      <button type="submit" class="btn btn-success btn-lg col-lg-4" ng-disabled="registerForm.$invalid">Submit</button>
      <div class="col-lg-4"></div>

    </form>
  <br>
  <br>  
  </div>
  <div class="col-lg-3"></div>
</div>
