<div class="row">
  <div class="jumbotron thankyou">
    <h1>
      <span class="my-font-yellow">Thank you</span> for your
      <span class="my-font-green">interested</span>
    </h1>
    <p>
      <i class="fa fa-thumbs-o-up fa-lg my-font-blue"></i> การลงทะเบียนของท่านสำเร็จสมบูรณ์
      สามารถตรวจสอบวันเวลาและสถานที่เรียนได้ที่
      <a href="/courses" class="my-font-yellow"><u>Courses</u></a>
      <br>
      ขอขอบคุณที่ให้ความไว้วางใจ <i class="fa fa-heart my-font-red"></i> ใน
          <strong>
            <a href="/" class="my-font-green"> AdaCode.io</a>
          </strong>
      แล้วพบกันนะครับ
    </p>
  </div>
</div>
